
/.playwright-mcp
data_analysis/web_scraping/__pycache__
/deep_learning/cv_architectures/__pycache__
/tf-venv
/.venv
/my-venv
/deep_learning/cv_apps/datasets/
/deep_learning/cv_apps/runs/
/deep_learning/cv_apps/*.pt
/deep_learning/cv_apps/*.tar
/deep_learning/cv_apps/*.zip
/deep_learning/cv_apps/__pycache__/
